<h1>Rubykassa Dummy App</h1>

<h2>Rubykassa configured with:</h2>
<div>Login: <%= Rubykassa.login %></div>
<div>First password: <%= Rubykassa.first_password %></div>
<div>Second_password: <%= Rubykassa.second_password %></div>
<div>Mode: <%= Rubykassa.mode %></div>
<div>HTTP Method: <%= Rubykassa.http_method %></div>

<h2>XML Interface</h2>
<% xi = Rubykassa::XmlInterface.new do %>
  <% self.invoice_id = 12 %>
  <% self.total = 1200 %>
  <% self.language = :ru %>
<% end %>

<p>GET CURRENCIES <%= xi.get_currencies.class %></p>
<p>GET PAYMENT METHODS <%= xi.get_payment_methods %></p>
<p>GET RATES <%= xi.get_rates %></p>
<p>OP STATE <%= xi.op_state %></p>

<div>
  <%= link_to_pay "Pay", 12, 1200 %>
</div>