<h1>Rubykassa Dummy App</h1>

<h2>Rubykassa configured with:</h2>
<div>Login: <%= Rubykassa.login %></div>
<div>First password: <%= Rubykassa.first_password %></div>
<div>Second_password: <%= Rubykassa.second_password %></div>
<div>Mode: <%= Rubykassa.mode %></div>
<div>HTTP Method: <%= Rubykassa.http_method %></div>

<%= link_to_pay "Оплатить", 12, 1200 %>